* {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    line-height: 150%;
    background-color: grey;
    background-image: url(../images/subtle_grunge.png);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0;
    margin-top: 0;
    border-bottom: 2px solid #cccc;
    text-align: center;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 20px;
    margin-top: 18px;
    margin-left: 16%;
    width: 25%;
    height: 100%;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

h2 {
    clear: both;
    overflow: auto;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 980px;
    border-bottom-style: solid;
    border-bottom-color: #cccc;
    color: #4aaaa5;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {
    color: #cccc;
    text-decoration: none;
}

a:visited {
    color: rgba(128, 128, 128, 0.8);
    text-decoration: none;
}

a:hover {
    color:#4aaaa5;
    text-decoration: bold;
}

.nav {
    background-color: white;
    list-style-type: none;
    margin-left: 50%;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.nav li {
    display: inline-block;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
    margin-top: 20px;
}

.bio {
    padding: 20px;
    margin-top: 0px;
    margin: 0 auto;
    max-width: 980px;
    background-color: white;
}

#bio-image {
    float: left;
}

.contact-form {
    padding: 20px;
    margin-top: 0px;
    margin: 0 auto;
    max-width: 980px;
    background-color: white;
}

form {
    padding-top: 20px;
    margin-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: borer-box;
}

.portfolio-body {
    padding: 20px;
    margin-top: 0px;
    margin: 0 auto;
    max-width: 980px;
    background-color: white;
}

img {
    padding: 20px;
    margin: 10px;
}

.portfolio-images {
    padding: 20px;
    margin: 20px;
}

footer {
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-size: 10px;
    border-top: 8px solid  #4aaaa5;
    background-color: #666666;
    position: sticky;
}

.box-2 {
    bottom: 0;
    width: 100%;
}